.item-wrapper {
    margin-top: 70px;
}
.item-title {
    margin-top: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #000000;
    text-align: center;
}
.item-country {
    margin-top: 25px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
}
.item-subtitle {
    margin-top: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #000000;
}
.item-price {
    margin-top: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #000000;

}
.item-img {
    width: 35vw;

}

@media (max-width: 992px){
    .item-img {
        width: 40vw;
    }
}
@media (max-width: 768px){
    .item-img {
        width: 80vw;
    }
}