.app-filter-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 540px) {
    .app-filter-items {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

}

