.header {
    background: url("./img/Main bg.jpg") center center/cover no-repeat;
    height: 640px;
}
.title {
    margin-top: 110px;
    text-align: center;
    font-family: Merienda;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.subtitle {
    margin-top: 50px;
    text-align: center;
    font-family: Merienda;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
}
.subtitle-second {
    margin-top: 20px;
    margin-bottom: 18px;
    text-align: center;
    font-family: Merienda;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-header {
    width: 120px;
    height: 30px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;

}

